DATABASE_URL="postgresql://alejandrogelormini@localhost:5432/aliado_saludable?schema=public"
JWT_SECRET=changeme_secret_muy_largo
JWT_REFRESH_SECRET=changeme_refresh_secret_muy_largo
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
OPENAI_API_KEY=sk-...
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o-mini
